﻿<ion-view view-title="关于">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div align="center">
            about 
        </div>
        <div align="center">
            <p align="left">
            </p>
        </div>
    </ion-content>
</ion-view>