﻿<ion-view view-title="登陆">
	 <ion-content class="padding">
	 
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ui-sref="tabsController.news">Login</button>
  </ion-content>
	
</ion-view>