﻿<ion-view view-title="新闻详情页" title="新闻详情页1">
     <ion-content overflow-scroll="true" padding="true" class="has-header">
	 
	 <div class="message" ng-bind-html="newsContent"></div>
	 <br/>
  
  <textarea rows="8" cols="20" style="width:100%; border:1px solid black;">
	
</textarea>
<br/>

  <li class="item item-icon-right" ng-click="toChangeAvatar()">照片
   <img class="my_info_avatar" ng-src="{{imageSrc}}">
    <i class="icon ion-ios-arrow-right"></i>
</li>
  
  <div class="page-end-separator"></div>  
  <br/>
  <button ion-button block round color="favorite" ng-click="comment()">Commit</button>  
    </ion-content>
</ion-view>