﻿<ion-view view-title="检测">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2 align="center">检测结果</h2>
        <ion-list>
            <li class="item">手机型号：{{results.model}}</li>
            <li class="item">操作系统：{{results.platform}}</li>
            <li class="item">手机uuid：{{results.uuid}}</li>
            <li class="item">Android版本：{{results.version}}</li>
            <li class="item">手机制造商：{{results.manufacturer}}</li>
            <li class="item">手机序列号：{{results.serial}}</li>
            <li class="item">总内存：{{results.totalSpace}}</li>
            <li class="item">可用内存：{{results.free}}</li>
        </ion-list>
    </ion-content>
</ion-view>