<ion-view >
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="新闻" icon="ion-android-list" href="#/tabs/news">
            <ion-nav-view name="tabNews"></ion-nav-view>
        </ion-tab>
        <ion-tab title="登录" icon="ion-man" href="#/tabs/login">
            <ion-nav-view name="tabLogin"></ion-nav-view>
        </ion-tab>
        <ion-tab title="新闻详细" icon="ion-ios-paper-outline" href="#/tabs/newsDetail">
            <ion-nav-view name="tabNewsDetail"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>